:root {
  --ics-blue: #0092e4;
  --ics-light-blue: #0058e3;
  --ics-gray-blue: #2f72bc;
  --ics-black: #000000;
  --ics-light-black: #2e334c;
  --ics-deep-black: #1c2033;
  --ics-gray: #5a607d;
  --ics-light-gray: #636c7e;
  --ics-hover: #ebedf5;
  --ics-white: #ffffff;
  --ics-offwhite: #fcfcff;
}
