* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Reset forms */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}

button:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  color: var(--ics-light-black);
  font-family: "Averta Std", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  transition:
    color 0.5s,
    background-color 0.5s;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

#__nuxt,
#__layout,
.wrapper {
  height: 100%;
}
