// @use "./reset";
@use "./colors";
@use "./typography";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset forms */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Averta";
  src: url(https://cdna.iconscout.com/fonts/Averta-Bold.db8e01c.eot);
  src: url(https://cdna.iconscout.com/fonts/Averta-Bold.db8e01c.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdna.iconscout.com/fonts/Averta-Bold.6745c20.woff2)
      format("woff2"),
    url(https://cdna.iconscout.com/fonts/Averta-Bold.8033efc.woff)
      format("woff"),
    url(https://cdna.iconscout.com/fonts/Averta-Bold.2b1d5be.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta Std";
  src: url(https://cdna.iconscout.com/fonts/Averta-Semibold.43d9442.eot);
  src: url(https://cdna.iconscout.com/fonts/Averta-Semibold.43d9442.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdna.iconscout.com/fonts/Averta-Semibold.8a8b411.woff2)
      format("woff2"),
    url(https://cdna.iconscout.com/fonts/Averta-Semibold.9f3e7c7.woff)
      format("woff"),
    url(https://cdna.iconscout.com/fonts/Averta-Semibold.48fa578.ttf)
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta Std";
  src: url(https://cdna.iconscout.com/fonts/Averta-Regular.77b1b73.eot);
  src: url(https://cdna.iconscout.com/fonts/Averta-Regular.77b1b73.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdna.iconscout.com/fonts/Averta-Regular.296928a.woff2)
      format("woff2"),
    url(https://cdna.iconscout.com/fonts/Averta-Regular.79c0972.woff)
      format("woff"),
    url(https://cdna.iconscout.com/fonts/Averta-Regular.92ece56.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  color: var(--ics-light-black);
  font-family: "Averta Std", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

#__nuxt,
#__layout,
.wrapper {
  height: 100%;
}
