@use "./reset";

:root {
  --ics-blue: #0092E4;
  --ics-light-blue: #0058E3;
  --ics-gray-blue: #2F72BC;
  --ics-black: #000000;
  --ics-light-black: #2E334C;
  --ics-deep-black: #1C2033;
  --ics-gray: #5A607D;
  --ics-light-gray: #636C7E;
}


